html,body{
    height: 100%;
}
body{
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
#ending{
  position: fixed;
  top: 10 px;
  font-size: 100px;
  font-weight: bolder;
  z-index: 1;
  color:white;
  text-shadow: 4px 4px black;
}

#difficulty{
  position: fixed;
  top: 70px;
  width: 200px;
}

#playButton{
  position: fixed;
  top: 70px;
  left: 720px;
  
}

#playAgain {
  position:fixed;
  bottom:50px;
  display : none;
}

#flagExceeded {
  position : fixed;
  bottom: 0px;
  display: none;
  font-size: 35px;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px white;
}