body{
  width: 700px;
  height: 1000px;
}
#canvasContainer{
  position : absolute;
  top:30%;
  left:36%;
  justify-content: center;
  align-content: center;
}
#ending{
  position: absolute;
  left:31%;
  font-size: 100px;
  font-weight: bolder;
  z-index: 1;
  color:white;
  text-shadow: 4px 4px black;
}
#userOptions{
  position: absolute;
  display: flex;
  top: 30%;
  column-gap: 20px;
  justify-content: space-evenly;
}

#userTime{
  position : absolute;
  font-size:50px;
  font-weight:bold;
  left:80%;
  top :35%;
}

#playAgain {
  position : absolute;
  top: 40%;
  left: 4%;
  display : none;
  
}

#userNameDiv{
  position: absolute;
  top:60%;
  visibility: hidden;
}

#flagExceeded {
  position : fixed;
  left:26%;
  display: none;
  font-size: 35px;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px white;
}

.center{
  left : 40%;
}


